<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repositories.PurchaseRecordRepository">
    <insert id="addPurchaseRecord" parameterType="purchaseRecord">
        INSERT INTO T_PURCHASE_RECORD(USER_ID, PRODUCT_ID, PRICE, QUANTITY, TOTAL_PRICE, NOTE, VERSION, PURCHASE_DATE)
        VALUES (#{userId}, #{productId}, #{price}, #{quantity}, #{totalPrice}, #{note}, #{version}, now())
    </insert>
</mapper>